version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: auth-password-manager-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: auth-password-manager
    volumes:
      - mongodb_data:/data/db
    networks:
      - auth-network

  redis:
    image: redis:7-alpine
    container_name: auth-password-manager-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - auth-network

volumes:
  mongodb_data:
  redis_data:

networks:
  auth-network:
    driver: bridge